rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow write, update, delete: if request.auth.uid == userId;
      allow read: if true;
    }

    match /users/{userId}/memos/{memoId} {
      allow write, update, delete: if request.auth.uid == userId;
      allow read: if (
        /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.readable_users
      )
    }
  }
}
